.cargo-space {
  background-image: url('cargo-hold.svg');
  display: inline-block;
  height: 3em;
  margin: .2em;
  width: 3em;
}

.cargo-space--hold-6 {
  background-image: url('cargo-space-hold-6.svg');  
}

.cargo-space--hold-10 {
  background-image: url('cargo-space-hold-10.svg');  
}

.cargo-space--passenger-5 {
  background-image: url('cargo-space-passenger-5.svg');  
}
