---
---

@import 'jekyll-theme-primer';

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, Green, MediumBlue);
  color: Tan;
}

header, h1, h2 {
  background-color: DarkBlue;
  border: none !important;
  border-radius: 0 1em 0 0;
  padding: 0.4em;
  text-transform: uppercase;
}

a {
  color: Coral;
}

a[href^='https://en.wikipedia.org/']::after {
  content: '\2197\0020';
  font-size: .8em;
  margin-left: .2em;
  vertical-align: super;
  white-space: nowrap;
}

li a:only-child {
  background-color: DarkBlue;
  border: 1px solid White;
  border-radius: 0 1em 0 0;
  display: inline-block;
  padding: 0 0.5em;
  width: 100%;
}

li a:only-child:hover, li a:only-child:active {
  background-color: Orange;
  color: White;
  text-decoration: none;
}

li:has(a) {
  list-style-type: none;
  text-align: right;
}

tr {
  background-color: transparent !important;
}

th, td {
  border-color: Tan !important;
}

@font-face {
  ascent-override: 50%;
  font-family: HullBoxes;
  src: url('FTSymbol.ttf');
}

@font-face {
  ascent-override: 50%;
  src: url('FTSymbol.ttf');
}

.ship-diagram {
  border: 2px solid tan;
  border-radius: 5px;
  display: inline-block;
}

.ship-diagram__screen-generator {
  background-image: url('screen-generator.svg');
  color: tan;
  display: inline-block;
  width: 3em;
  height: 3em;
}

.beam-battery {
  background-image: url('beam-all-arc.svg');
  color: tan;
  display: inline-block;
  height: 3em;
  text-align: center;
  width: 3em;
}

.beam-battery--1-arc {
  background-image: url('beam-1-arc.svg');
}

.beam-battery--3-arc {
  background-image: url('beam-3-arc.svg');
}

.beam-battery__class {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
}

.beam-battery.-fs {
  rotate: 60deg;
}

.beam-battery.-as {
  rotate: 120deg;
}

.beam-battery.-aft {
  rotate: 180deg;
}

.beam-battery.-ap {
  rotate: 240deg;
}

.beam-battery.-fp {
  rotate: 300deg;
}

.beam-battery.-fs .beam-battery__class {
  rotate: -60deg;
}

.beam-battery.-as .beam-battery__class {
  rotate: -120deg;
}

.beam-battery.-aft .beam-battery__class {
  rotate: -180deg;
}

.beam-battery.-ap .beam-battery__class {
  rotate: -240deg;
}

.beam-battery.-fp .beam-battery__class {
  rotate: -300deg;
}

.fire-control-system {
  background-image: url('fire-control-system.svg');  
  display: inline-block;
  height: 3em;
  width: 3em;
}

.submunitions-pack {
  background-image: url('submunitions-pack.svg');  
  display: inline-block;
  height: 3em;
  width: 3em;
}

.hull-boxes {
  font-family: HullBoxes;
  font-size: 400%;
  line-height: 20%;
}

.ssd-icons {
  font-family: FTSymbol;
  font-size: 400%;
  line-height: 75%;
  text-align: center;
}

.beam-batteries {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 75%;
  text-align: center;
}

.damage-track {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 25%;
}

.fire-control {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 1%;
}

.ftl-drive {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 90%;
  text-align: center;
}

.main-drive {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 75%;
  text-align: center;
}

.point-defense {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 50%;
}

.ssd-symbol {
  color: Tan;
  width: 3em;
  height: 3em;
}
