---
---

@import 'jekyll-theme-primer';

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, Green, MediumBlue);
  color: Tan;
}

header, h1, h2 {
  background-color: DarkBlue;
  border: none !important;
  border-radius: 0 1em 0 0;
  padding: 0.4em;
  text-transform: uppercase;
}

a {
  color: Coral;
}

li a:only-child {
  background-color: DarkBlue;
  border: 1px solid White;
  border-radius: 0 1em 0 0;
  display: inline-block;
  padding: 0 0.5em;
  width: 100%;
}

li a:only-child:hover, li a:only-child:active {
  background-color: Orange;
  color: White;
  text-decoration: none;
}

li:has(a) {
  list-style-type: none;
  text-align: right;
}

tr {
  background-color: transparent !important;
}

th, td {
  border-color: Tan !important;
}

@font-face {
  ascent-override: 50%;
  font-family: HullBoxes;
  src: url('FTSymbol.ttf');
}

@font-face {
  ascent-override: 50%;
  src: url('FTSymbol.ttf');
}

.hull-boxes {
  outline: 1px dotted White;
  font-family: HullBoxes;
  font-size: 400%;
  line-height: 20%;
}

.ssd-icons {
  outline: 1px dotted White;
  font-family: FTSymbol;
  font-size: 400%;
  line-height: 75%;
  text-align: center;
}

.beam-batteries {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 75%;
  text-align: center;
}

.damage-track {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 25%;
}

.fire-control {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 1%;
}

.ftl-drive {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 90%;
  text-align: center;
}

.main-drive {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 75%;
  text-align: center;
}

.point-defense {
  font-family: FTSymbol;
  font-size: 36pt;
  line-height: 50%;
}

.ship-diagram {
  border: 1px solid Tan;
  display: inline-block;
}

.ssd-symbol {
  color: Tan;
  width: 3em;
  height: 3em;
}
